@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<body>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Yazarın Blogları</h1>
                            <br />
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Blog Başlığı</th>
                                        <th>Oluşturma Tarihi</th>
                                        <th>Kategori</th>
                                        <th>Durum</th>
                                        <th>Sil</th>
                                        <th>Düzenle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <th>@item.BlogID</th>
                                            <td>@item.BlogTitle</td>
                                            <td> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
                                            <td>@item.Category.CategoryName</td>
                                            <td>@item.BlogStatus</td>
                                            <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
                                        </tr>
                                        }
                                </tbody>
                            </table>
                            <a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a>
                        </div>
                    </div>
                </div>

            </div>
</body>
</html>


@*<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.BlogID</th>
            <td>@item.BlogTitle</td>
            <td> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.BlogStatus</td>
            <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>*@